html {
  font-family: Overpass, sans-serif;
  color: #fff;
}

section {
  background-image: linear-gradient(#ff9500, #ff5e3a);
}

.btn {
  color: #fff;
  border-color: rgba(255, 255, 255, .8);
}

.btn:hover {
  background-color: rgba(255, 255, 255, .4);
  border-color: #fff;
  color: #ff5e3a;
}

.unit:nth-child(1),
.unit:nth-child(2) {
  border-bottom: 3px solid rgba(255, 255, 255, .4);
}

@media only screen and (min-width: 60em) {

  .unit:nth-child(1),
  .unit:nth-child(2) {
    border-bottom: hidden;
  }

  .unit:nth-child(2),
  .unit:nth-child(3) {
    border-left: 3px solid rgba(255, 255, 255, .4);
  }

}
